<?xml version="1.0" encoding="utf-8"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" autoReload="true">
    <!-- This file reloaded automatically if modified (autoReload="true") -->
    <!-- NLog tutorial : https://github.com/NLog/NLog/wiki/Tutorial -->
    <!-- https://github.com/NLog/NLog/wiki/Layout-Renderers -->
    
    <!--Targets for the log -->
    <targets>
        <!-- Log to file -->
        <target xsi:type="File"
                name="flog"
                header="NEW LOGGING SESSION : ${appdomain} - ${assembly-version} @ ${date}"
                footer="END OF LOGGING SESSION : ${appdomain} - ${assembly-version} @ ${date}"
                layout="${level:uppercase=true:padding=-5:fixedLength=true} [${date:format=dd.MM.yy HH\:mm\:ss,fff}] ${message}${onexception:; ${exception:format=message} ${exception:format=Type} in ${exception:format=Method}} (${callsite}:${callsite-linenumber})"
                fileName="logs/app.log"
                maxArchiveFiles="15"
                archiveFileName="logs/archives/archive.{#}.log"
                archiveNumbering="DateAndSequence"
                archiveDateFormat="dd.MM.yy"
                archiveEvery="Day"
                archiveOldFileOnStartup="true"
        />
        <!-- Log ERRORS to file -->
        <target xsi:type="File"
                name="flogerror"
                header="NEW LOGGING SESSION : ${appdomain} - ${assembly-version} @ ${date}"
                footer="END OF LOGGING SESSION : ${appdomain} - ${assembly-version} @ ${date}"
                layout="${level:uppercase=true:padding=-5:fixedLength=true} [${date:format=dd.MM.yy HH\:mm\:ss,fff}] ${message}${onexception:; ${exception:format=message}${exception:format=StackTrace}} (${callsite}:${callsite-linenumber})  ${onexception:${newline}${newline}${exception:format=toString}${newline}}"
                fileName="logs/app.errors.log"
                maxArchiveFiles="15"
                archiveFileName="logs/archives/archive.errors.{#}.log"
                archiveNumbering="DateAndSequence"
                archiveDateFormat="dd.MM.yy"
                archiveEvery="Day"
                archiveOldFileOnStartup="true"
        />
        <!-- Log to console -->
        <target xsi:type="ColoredConsole"
                name="cclog"
                header="NEW LOGGING SESSION : ${appdomain} - ${assembly-version} @ ${date}"
                footer="END OF LOGGING SESSION : ${appdomain} - ${assembly-version} @ ${date}"
                layout="${level:uppercase=true:padding=-5:fixedLength=true} [${date:format=dd.MM.yy HH\:mm\:ss,fff}] ${message}${onexception:; ${exception:format=message} ${exception:format=Type} in ${exception:format=Method}} (${callsite}:${callsite-linenumber})"
                useDefaultRowHighlightingRules="false"
                errorStream="false"
                detectConsoleAvailable="true">
            <highlight-row backgroundColor="Black" condition="level == LogLevel.Fatal" foregroundColor="Red"/>
            <highlight-row backgroundColor="Black" condition="level == LogLevel.Error" foregroundColor="DarkRed"/>
            <highlight-row backgroundColor="Black" condition="level == LogLevel.Warn" foregroundColor="Yellow"/>
            <highlight-row backgroundColor="Black" condition="level == LogLevel.Info" foregroundColor="Cyan"/>
            <highlight-row backgroundColor="Black" condition="level == LogLevel.Debug" foregroundColor="DarkGray"/>
            <highlight-row backgroundColor="Black" condition="level == LogLevel.Trace" foregroundColor="DarkGray"/>
        </target>
    </targets>
    
    <!-- Rules define which type of trace go where -->
    <rules>
        <!-- name is 'Name.Space.Class1' -->
        <!-- writeTo should have the name of a target (see above) -->
        <logger name="*" minlevel="Debug" writeTo="cclog" />
        <logger name="*" minlevel="Trace" writeTo="flog" />
        <logger name="*" minlevel="Warn" writeTo="flogerror" />
    </rules>
</nlog>